---
layout: default
---

<div class="home">

  <h1 class="page-heading"><strong>Willkommen auf der Homepage des Vereins für Vor- und Frühgeschichte im unteren Niddertal e.V.<br/>
  <br/>
  <a href="/02_aktuell/">Aktuelles</a></strong></h1>
  
  <ul class="post-list">
    {% for post in site.posts limit:2 %}
      <li>
        <span class="post-meta">{{ post.date | date: "%d.%m.%Y" }}</span>

        <h2>
          <a class="post-links" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  {{ content }}

</div>
