---
layout: default
---

<div class="home">

  <h1 class="page-heading"><strong>Willkommen auf der Homepage des Vereins für Vor- und Frühgeschichte im unteren Niddertal e.V.<br/>
  <br/>

 <h1 class="page-heading"><strong>ACHTUNG! Diese Homepage wird seit April 2025 nicht mehr aktualisiert. 
   Aktuelle Informationen über den VVFN e.V. finden Sie auf unserer neuen Homepage <visit> https://vvfn-ev.jimdosite.com/ <visit/> <br/>
  <br/>
    
  <a href="aktuell/">Aktuelles</a></strong></h1>
  
  <ul class="post-list">
    {% for post in site.posts limit:2 %}
      <li>
        <span class="post-meta">{{ post.date | date: "%d.%m.%Y" }}</span>

        <h3>
          <a class="post-links" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h3>
      </li>
    {% endfor %}
  </ul>

  {{ content }}

</div>
